In [221]:
import pandas as pd

In [222]:
import seaborn as sns

In [223]:
import matplotlib.pyplot as plt

In [224]:
import seaborn as sns

In [225]:
import numpy as np

## Reading files

In [226]:
wh2018 = pd.read_csv('2018_v2.csv')
wh2019 = pd.read_csv('2019_v2.csv')

Adding extra column to identify year of population

In [227]:
wh2018['year'] = 2018
wh2019['year'] = 2019

Union of three files

In [228]:
wh = pd.concat([wh2018,wh2019])

In [229]:
wh.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'year'],
      dtype='object')

## Ejercicios

1. Partiendo de Wh, realice un analisis de valores nulos. que porcentaje de valores nulos se encuentran en cada columna por anio. presente el analisis en un dataframe

Ejemplo:

In [230]:
pd.DataFrame({
    "year": [2017,2019]
    , "column" : ["Happiness.Rank","Whisker.low"]
    , "percentage.of.nans" : [0.2,0.2]
})

   year          column  percentage.of.nans
0  2017  Happiness.Rank                 0.2
1  2019     Whisker.low                 0.2

### resolucion ejercicio uno

In [231]:
wh.isnull().sum()

Overall rank                     0
Country or region                0
Score                           39
GDP per capita                  26
Social support                  26
Healthy life expectancy         35
Freedom to make life choices    10
Generosity                      20
Perceptions of corruption       38
year                             0
dtype: int64

In [232]:

missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})

NameError: name 'df' is not defined

In [233]:

pd.DataFrame ({
    "year": [wh]
    , "column" : ["Overall rank", "Country or region", "Score", "GDP per capita",
       "Social support", "Healthy life expectancy",
       "Freedom to make life choices", "Generosity",
       "Perceptions of corruption", "year"]
    , "percentage.of.nans" : [for c_ in wh.columns:
    if c_ not in [wh.isnull().sum())]
 median = wh['Perceptions of Corruption'].median()
#print(median)
wh['Perceptions of Corruption'].fillna(median, inplace = True)
})

SyntaxError: invalid syntax (Temp/ipykernel_18636/4152906408.py, line 7)

2. partiendo de Wh, por año muestre un resumen de todas las columnas.

nota: aunque solo tenemos tres años, que pasaria si en nuestro dataframe tenemos 20 años? resuelva su ejercicio lo mas dinamico que se pueda

### resolucion ejercicio dos

In [234]:
dfwh = pd.read_csv('./2019.csv')

In [235]:
dfwh = pd.read_csv('./2018.csv')

In [236]:
dfwh.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

3. partiendo de Wh, remplace los valores NaN de las columnas por su mean, el mean debe de ser calculado por año para ser mas exacto

### resolucion ejercicio tres

In [237]:
wh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 468 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  468 non-null    int64
 1   Country or region             468 non-null    object
 2   Score                         429 non-null    float64
 3   GDP per capita                442 non-null    float64
 4   Social support                442 non-null    float64
 5   Healthy life expectancy       433 non-null    float64
 6   Freedom to make life choices  458 non-null    float64
 7   Generosity                    448 non-null    float64
 8   Perceptions of corruption     430 non-null    float64
 9   year                          468 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 40.2+ KB

In [238]:
wh.duplicated().sum()

0

In [239]:
scores = merged_wh.groupby(['Country','Year'],as_index=False)['Score'].sum()
scores = scores.pivot(index='Year',columns='Country',values='Score')

def axis():
    chart1, ax1 = plt.subplots()
    return ax1
display(scores)

NameError: name 'merged_wh' is not defined

4. Partiendo de Wh limpio, para cada metrica por pais, muestra la diferencia del ultimo valor encontrado contra el primero.

Ejemplo:

In [240]:
wh.loc[ wh['Country or region'] == 'Switzerland' , : ]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
4,5,Switzerland,NaN,1.420,1.549,0.927,0.660,0.256,0.357,2018
161,6,Switzerland,NaN,1.452,1.526,1.052,0.572,0.263,0.343,2018
4,5,Switzerland,NaN,1.420,1.549,0.927,0.660,0.256,0.357,2019

Como se puede observar para Switzerland en Score la diferencia seria 7.480 - 7.487

Claramente en su solucion la columna año se debera de eliminar

### resolucion ejercicio cuatro

In [241]:
merged_wh.corr())

SyntaxError: unmatched ')' (Temp/ipykernel_18636/329904854.py, line 1)